/* CSS */
html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("R.png");
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border: 0px;
}

header {
    background-color: white;
    color: #fff;
    padding: 10px;
    text-align: center;
    border: 8px;
    margin-top: 0;
}

.header_x {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 10px;
    margin-left: auto; 
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

img {
    width: 30%;
    height: auto;
    border: 8px;
}

.footer {
    min-height: calc(100vh - 90vh);
    position: relative;
    padding-bottom: footerHeight;
    bottom: 0;
    left: 0;
    width: 100%;
    height: footerHeight;
    background-color: #333;
    color: #f0f0f0;
    text-align: center;
    padding: 10px 0;
}

.logo-container {
    position: absolute;
    
    left: 10px;
}

.container {
    display: flex;
    flex-direction: column;
}

.logo-container_x {
    order: 2; /* ou qualquer número que desejar */
    bottom: 30px;
    float: right; 
}

.logo-container_z {
    order: 3;
    bottom: 40px;
    float: right;  
}

.logo_small {
    width: 20px; /* Tamanho desejado */
    height: auto;
}

.logo {
    width: 200px;
    margin-top: 40px;
    margin-left: 20px;
    position: absolute;
    top: 0;
    left: 20px;
}

.imagemprogramacao {
    width: 200px;
    margin-top: 40px;
    margin-right: 20px;
    position: absolute; /* Para fixar a imagem na tela */
    top: 20px;
    
    right: 5px; /* Alinha à direita */
}

.header-titulo {
    text-align: center;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titulo_x {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
}

.titulo_x > div {
    margin-bottom: 10px;
}

.titulo_x img {
    margin-bottom: 10px;
}

.estilo {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
}



.titulo h2 {
    margin-bottom: 10px;
}

.section_x {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

header_x h2 {
    margin: 0;
}

.info-buttons-container {
    display: flex;
    align-items: center; /* Para alinhar verticalmente */
}

.info-buttons-container nav {
    margin-left: auto; /* Para mover os botões para a direita */
}

.info-container h2 {
    margin-right: 10px; /* Espaçamento entre "Informações pessoais" e os botões */
}

.info-pessoais {
    margin-right: 10px; /* Espaçamento entre "Informações pessoais" e os botões */
    color: black; /* Cor do texto */
}

@media screen and (max-width: 768px) {
    .titulo_x {
        flex-direction: column;
        align-items: justify;
    }
      
    .container {
        display: flex;
        flex-direction: column;
    }
    
    .logo {
        width: 80px;
        margin-top: 40px;
        margin-left: 20px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .imagemprogramacao {
        width: 80px;
        margin-top: 40px;
        margin-right: 20px;
        top: 0;
        right: 0;
    }

    .footer {
        display: flex;
        flex-direction: column-reverse; /* Inverte a ordem dos elementos */
        align-items: center; /* Centraliza os elementos horizontalmente */
    }

    .info-container_x {
        order: 2; 
        bottom: 30px;
        float: right; 
    }

    .logo-container_z {
        order: 1;
        bottom: 40px;
        float: right;  
    }

nav ul li {
    display: inline;
    margin-right: 20px;
}

img {
    width: 30%;
    height: auto;
    border: 8px;
}

.footer {
    min-height: calc(100vh - 90vh);
    position: relative;
    padding-bottom: footerHeight;
    bottom: 0;
    left: 0;
    width: 100%;
    height: footerHeight;
    background-color: #333;
    color: #f0f0f0;
    text-align: center;
    padding: 10px 0;
}

.logo-container {
    position: absolute;
    bottom: 30px;
    left: 10px;
}

.container {
     display: flex;
        justify-content: space-between;
    
        margin-top: 40px
}

.logo-container_x {
    order: 2; /* ou qualquer número que desejar */
    bottom: 30px;
    float: right; 
}

.logo-container_z {
    order: 3;
    bottom: 40px;
    float: right;  
}

.logo_small {
    width: 20px; /* Defina o tamanho desejado */
    height: auto;
}

.header-titulo {
    text-align: center;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titulo_x {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
}

.titulo_x > div {
    margin-bottom: 10px;
}

.titulo_x img {
    margin-bottom: 10px;
}

.estilo {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
}

.titulo h2 {
    margin-bottom: 10px;
}

.section_x {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

header_x h2 {
    margin: 0;
}

.info-buttons-container {
    display: flex;
    flex-direction: column; /* Altera a direção para uma coluna */
    align-items: flex-start; /*
}

 .btn-list {
        margin-top: 10px; /* Adiciona espaço entre os botões */
        padding-left: 0; /* Remove o preenchimento padrão do navegador para listas */
    }
 
 .btn-list li {
        margin-bottom: 10px; /* Adiciona espaço entre os botões */
    }

  .info-container h2,
    .info-pessoais {
        margin-bottom: 10px; /* Adiciona espaço abaixo do título e do texto */
    }

.info-pessoais {
    margin-right: 10px; /* Espaçamento entre "Informações pessoais" e os botões */
    color: black; /* Cor do texto */
}
